@page
@model HistorialModel
@{
    ViewData["Title"] = "Historial";
}

<div class="estilo-historial">
    
    <ul class="nav menu">
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="modal" data-bs-target="#modal-sesion"><img class="cuenta-busqueda" src="/img/usuarioIcono2.png" alt=""></button>
            <div class="modal" tabindex="-1" id="modal-sesion">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Informacion de Usuario</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            @if(Model.UsuarioActual != null){
                                <p>Nombre: @Model.UsuarioActual.Nombre</p>
                                <p>Telefono: @Model.UsuarioActual.Telefono</p>
                                <p>Rol: @Model.UsuarioActual.Rol</p>
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Aceptar</button>
                            <a asp-page="/Index" class="btn btn-primary">Cerrar sesion</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Administrador"><img title="Dashboard" class="img-menu" src="/img/dashboard.svg" alt=""></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Inventario"><img title="Inventario" class = "img-menu" src="/img/barcode-solid.svg" alt=""></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Tiendas"><img title="Tiendas" class="img-menu" src="/img/store.svg" alt=""></a>
        </li>
        <li class="nav-item">
            <a class="nav-link seleccionado" asp-page="/Historial"><img title="Historial" class="img-menu" src="/img/historial.svg" alt=""></a>
        </li>
    </ul>
    <div class="historial">
        <div class="encabezado">
            <div class="fila">
                <div class="titulo">Historial de ventas</div>
            </div>
            <div class="fila">
                <div class="busqueda completo">
                    <input class="barra-busqueda" type="text" placeholder="Buscar por usuario o codigo">
                    <div>
                        <a asp-page="/Index"><img src="/img/lupa.png" alt="" class="lupa-inventario"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tablas">
            <div class="contenedor-tabla">
                <div class="tabla-productos">
                    <table class="table table-dark table-striped tabla-dinamica">
                        <thead>
                            <tr>
                                <th scope="col">Usuario</th>
                                <th scope="col">Codigo</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Total</th>
                                <th scope="col" class="no-ordenar"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(int i = 0; i < Model.Ventas.Count; i++){
                                <tr>
                                    <td>@Model.Ventas</td>
                                    <td>264589 <span class="invisible">codigo</span></td>
                                    <td>10/5/2026</td>
                                    <td>$500.00<span class="invisible">total</span></td>
                                    <td><button class="btn-detalles-tienda" data-bs-toggle="modal" data-bs-target="#modal-editar-producto">Detalles <img class="btn-inventario"src="/img/circle-info.svg" alt=""></button>
                                        <div class="modal" tabindex="-1" id="modal-editar-producto" data-bs-backdrop="static">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Informacion del producto</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!--Ingresar datos-->
                                                        <div class="info-tienda">
                                                            Producto: <input type="text" id="producto" disabled>
                                                        </div>
                                                        <div class="info-tienda">
                                                            Cantidad: <input type="text" id="cantidad" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Cancelar</button>
                                                        <a asp-page="" class="btn btn-primary">Registrar cambios</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
